[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.24"
librosa = "==0.10.0.post2"
black = "==23.7.0"
flake8 = "==6.0.0"
resampy = "==0.4.2"
pydub = "==0.25.1"
torch = "==2.0.1"
torchvision = "==0.15.2"
matplotlib = "==3.7.2"
torchaudio = "==2.0.2"
pytorch-lightning = "==2.0.6"

[dev-packages]
ipykernel = "==6.25.1"

[requires]
python_version = "3.11"
